<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Content</title>
        <link rel="stylesheet" href="../main.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <main class="container">
            <div class="table question">
                <span class="th">Status</span>
                <span class="th">Name</span>
                <span class="th">Email</span>
                <span class="th">Question</span>
                <span class="th">Date</span>

                {{#each question}}
                    <span class="id" style="display: none">{{this._id}}</span>
                    <span class="td"><input
                            type="checkbox"
                            name="status"
                            id=""
                            {{#if this.status}}checked{{/if}}
                        /></span>
                    <span class="td">{{this.name}}</span>
                    <span class="td">{{this.email}}</span>
                    <span class="td">{{this.question}}</span>
                    <span class="td">{{dateToString this.timestamp}}</span>
                {{/each}}
            </div>

            <div class="table feedback">
                <span class="th">Rating</span>
                <span class="th">Bug</span>
                <span class="th">Suggestion</span>
                <span class="th">Compliment</span>
                <span class="th">Date</span>

                {{#each feedback}}
                    <span class="td">{{this.rating}}</span>
                    <span class="td">{{this.bug}}</span>
                    <span class="td">{{this.suggestion}}</span>
                    <span class="td">{{this.compliment}}</span>
                    <span class="td">{{dateToString this.timestamp}}</span>
                {{/each}}
            </div>
        </main>
    </body>
</html>